body {
	font-family: 'Sono', monospace;
	font-weight: 300;
	text-align: center;
}

h1 {
	font-weight: 300;
  font-size: calc(1.8rem + 1.5vw);
}

h4, span.lead {
	color: #989898;
	font-size: 24px;
	margin-top: 40px;
	font-weight: 300;
}

.container {
	max-width: 800px;
	margin:  0 auto;
}
	
.top-logo img {
	width: 100%;
	max-width: 550px;
	padding-top: 20px;
}

.gallery img {
	width: 100%;
}

.gallery {
	max-width: 1000px;
	padding-bottom: 25px;
	padding-right:  3px;
}

p .intro {
	font-size: ;

}

.center {
	text-align: center;
	margin:  0 auto;
}

.row img {
	width: 100%;
	max-width: 700px;
}

.info {
	font-size: 18px;
	max-width: 800px;
}

.info h1 {
	margin-bottom: 25px;
}

.info p {
	margin-bottom: 10px;
}

.section {
	padding-top: 35px;
	padding-bottom: 50px;
}

.banner-special {
	width:  100%;
	padding: 0 5px;
}

.col-6 {
	padding-bottom: .5rem!important;
}

#holiday {
	padding-bottom: 25px;
}

#holiday-gallery {
	padding-top: 15px;
	padding-bottom: 15px;
}

#holiday-shop {
	padding-top: 30px;
}

#holiday-shop p {
	font-size: .8em;
}

.item {
	padding-bottom: 25px;
}

.shop h1, h2, h3, h4 {
	font-weight: 300;
}

.description {
	font-size: 24px;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
.divider {
	max-width: 800px;
}

.about-image {
	width: 60%;
	padding-bottom: 40px;
}

#contact .container {
	max-width:  600px;
	margin: 0 auto;
}

input, textarea {
	margin-bottom: 5px;
}

.insta {
	margin-top: 25px;
}

.insta img {
	width: 25px;
	padding-right: 10px;
}

a {
	color: #31b6a8;
}

a .insta, a.insta {
	color:  #31b6a8;
}

.form-control, .btn {
	font-weight: 300;
}

.hh-button {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2ca295;
  --bs-btn-border-color: #2ca295;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #278e83;
  --bs-btn-hover-border-color: #278e83;
  --bs-btn-focus-shadow-rgb: 66,70,73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #278e83;
  --bs-btn-active-border-color: #278e83;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #278e83;
  --bs-btn-disabled-border-color: #278e83;

  padding:  10px 50px;
  margin-top: 5px;
}

a.insta {
/*	color:  #707070;*/
	font-size: 22px;

}

a {
	text-decoration: none;
}

.gallery {
  /* Prevent vertical gaps */
  line-height: 0;
   
  -webkit-column-count: 3;
  -webkit-column-gap:   5px;
  -moz-column-count:    3;
  -moz-column-gap:      0px;
  column-count:         3;
  column-gap:           5px;  
}

.gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px;
}

#recent-gallery {
	padding-bottom: 10px;
	max-width: 800px;
	padding-top: 0;
}

@media (max-width: 600px) {
  .gallery {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }

  .top-logo img {
		max-width: none;
	}

	#contact .container {
		max-width: none;
	}
	.insta img {
		width: 29px;
	}

	#send {
		width: 50%;
	}

	.hh-button {
		width: 100% !important;
	}

.shop {
	display: block;
	width: 50%;
}

	.about-image {
	width: 100%;
}


}

}